:root {
  --paleblue: hsl(243, 100%, 93%);
  --grayishblue: hsl(229, 7%, 55%);
  --darkblue: hsl(228, 56%, 26%);
  --verydarkblue: hsl(229, 57%, 11%);
}
* {
  margin: 0px;
  padding: 0px;
}
main {
  background-image: url("./images/bg-desktop.svg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
}
.wrapper {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 20px;
}

/* ### Primary

- Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)

### Neutral

 */
.top {
  padding: 30px;
  background: var(--darkblue);
  border-radius: 10px 100px 10px 10px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}
.icons {
  display: flex;
  align-items: center;
}
.icons > div {
  background: var(--verydarkblue);
  padding: 8px;
  margin-right: 10px;
  border-radius: 10px;
  display: flex;
}
.icons > div img {
  width: 20px;
  height: 20px;
}
.storage {
  padding: 30px;
  background: var(--darkblue);
  border-radius: 10px;
  color: white;
  position: relative;
}
.remains {
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 23px;
  background: white;
  color: black;
  border-radius: 15px;
  width: 50%;
  text-align: center;
  color: gray;
  display: flex;
  align-items: center;
}
.remains span {
  color: black;
  font-size: 2rem;
}

@media screen and (max-width: 500px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 170px 140px;
  }
}
