.billing,
.gridbottom {
  padding: 20px;
  background: white;
  margin-top: 20px;
}
.billing {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.billing .option {
  margin: 10px 0px;
  font-weight: 700;
}
/* input[type="checkbox"]:checked {
  border: 1px solid red;
  background-color: red;
}
 */
.gridbottom {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: royalblue;
  align-items: center;
}
.gridbottom button {
  padding: 10px 15px;
  background: royalblue;
  color: white;
  border: none;
  border-radius: 5px;
}
