/* 
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark Violet: hsl(256, 26%, 20%)
- Grayish Blue: hsl(216, 30%, 68%)

### Neutral

- Very Dark Violet: hsl(270, 9%, 17%)
- Dark Grayish Violet: hsl(273, 4%, 51%)
- Very Light Gray: hsl(0, 0%, 98%)

*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

.container{
    width: 80%;
    margin: 0 auto;
} 
nav{
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar-brand{
    font-family:'DM Serif Display', serif;
    font-size: 2rem;
    color:  hsl(256, 26%, 20%);
    font-weight: 400;
}
.navbar-right{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar-right div{
    cursor: pointer;
    color: grey;
    width: 25%;
    text-align: center;
    height: 30%;
}
.navbar-right div:hover{
    color: hsl(270, 9%, 17%);
}

.navbar-right .special{
    /* background: hsl(270, 9%, 17%); */
}
.navbar-right .special:hover{
    background: hsl(270, 9%, 17%);
    color: white;
}

.headWithPhoto{
    height: 93vh;
    color: white;
    position: relative;
    width: 100%;
}

.headWithPhoto::before{
    content: "";
    background: hsl(256, 26%, 20%) ;
    height: 65%;
    width: 100%;
    position: absolute;
    z-index: -2;
}
.image-right{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 60%;
    width: 30%;
}
.image-bottom{
    position: absolute;
    left: 0px;
    bottom: -50px;
}
.main{
    width: 60%;
    padding: 100px 160px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.main-image{
    position: absolute;
    top: 100px;
    right: 160px;
    z-index: -1;
    
}
.main::after{
    content:"";
    margin-top: 100px;
    position: absolute;
    height: 4px;
    width: 100px;
    background: white;
    top: 0px;
}

.main .heading{
    margin-top: 30px;
    font-size: 2.3rem;
}

.main .subhead{
    margin: 15px 0px;
    font-size: 1.1rem;
    text-align: justify;
    word-spacing: 2px;
}

.main .action-btn{
    display: block;
    height: 40px;
    width: 150px;
    padding: 10px 0px;
    text-align: center;
    background: white;
    color: hsl(256, 26%, 20%);
    font-size: 18px;
    letter-spacing: 1px;
}


.grid-title{
    margin-top: 80px;
    font-size: 3rem;
    font-weight: 400;
}
.grid-title::before{
    z-index: 2;
    margin-top: -50px;
    content:"";
    position: absolute;
    height: 1px;
    width: 130px;
    background-color:hsl(257, 24%, 37%) ;
}

.grids{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.grids div{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.grids div img{
    height: 70px;
    width: 70px;
}


.banner{
    background-color: hsl(256, 26%, 20%) ;
    margin-top: 100px;
    height: auto;
    color: white;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.banner-image{
    position: absolute;
    top: 0px;
    right: 0px;
}
.banner .heading{
    font-size: 3rem;
}

.banner .action{
    font-size: 1.5rem;
    padding: 10px;
    border: 2px solid white;
    
}

footer{
    margin-top: 150px;
    background-color: hsl(0, 0%, 98%);
    position: relative;
    width: 100%;
    height: 40vh;
}

.footer-header{
    display:flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}
.footer-header .brand{
    font-size: 2rem;
}
.footer-container{
    width: 80%;
    margin: 0 auto;
}
footer .footer-image{
    position: absolute;
    top: 0px;
    left: 0px;
}

footer .lists{
    display: flex;
    justify-content: space-between;
}

.lists div .title{
    margin: 20px 0px;
    color: grey;
}
.lists div{
    line-height: 2em;
}
.social img{
    margin-left: 20px;
}