@media (max-width:576px){
    .container{
        width: 90%;
        margin: 0 auto;
    }
    header{
        height: 100vh;
        display: grid;
        grid-template-rows: 10vh 90vh;
        position: relative;
        .close{
            display: none;
        }
        nav{
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            button{
                display: none;
            }
            .navlinks{
                display: none;
                opacity: 0;
                &.open{
                    position: absolute;
                    display: flex;
                    height: 300px;
                    width: 80%;
                    margin: 0 auto;
                    top: 100px;
                    left: 10%;
                    flex-direction: column;
                    text-align: center;
                    background: white;
                    opacity: 1;
                    transition: opacity 1s ease;
                }
            }
            a{
                color: var(--DarkBlue);
                margin: 15px 0px;
            }
            a:hover{
                color: var(--DarkGrayishBlue);
            }
        }
        .intro{
            height: 100%;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            .heading{
                font-size: 1.8rem;
            }
            .subheading{
                font-size: 1.1rem ;
                margin: 20px 0px;
            }
            .images{
                img{
                    width: 100%;
                }
            }
            button{
                box-shadow: 0px 3px 10px var(--BrightRed);
            }
        }
    }
    
    .manage{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 50px 0px;
        .heading{
            font-size: 1.5rem;
        }
        .subheading{
            padding: 20px 0px;
        }
        .points{
            width: 100%;
            &>div{
                margin: 20px 0px;
                position: relative;
            }
            .num{
                position: absolute;
                background: var(--BrightRed);
                width: 60px;
                height: 35px;
                text-align: center;
                border-radius: 25px;
                color: white;
                line-height: 2em;
            }
            .heading{
                font-size: 1.2rem;
                margin-bottom: 15px;
                background: var(--VeryPaleRed);
                height: 35px;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
            }
            .subheading{
                text-align: left;
                padding: 0px;
            }
        }
    }
    .testimonals{
        height: 75vh;
        display: grid;
        grid-template-rows: 20% 65% 5% 10%;
        grid-gap: 2.5vh;
        text-align: center;
        margin: 100px 0px;
        .heading{
            font-size: 2.5rem;
        }
        .peoples{
            position: relative;
            height: 250px;
            .people{
                display: none;
                &.show{
                    position: absolute;
                    top: 0px;
                    margin: 0px 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px;
                    img{
                        height: 75px;
                    }
                    b{
                        font-size: 1.2rem;
                        margin: 10px 0px;
                    }
                    p{
                        color: var(--DarkGrayishBlue);
                        font-size: 1rem;
                    }
                }

            }
            .people::after{
                position: absolute;
                content:'';
                height: 75%;
                background: whitesmoke;
                width: 100%;
                z-index: -1;
                bottom: 0px;
            }
        }
        .pagination{
            height: 10px;
            width: 90%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            .page{
                cursor: pointer;
                height: 10px;
                width: 10px;
                border: 1px solid red;
                border-radius: 50%;
                margin: 10px;
            }
        }
    }
    .simplify{
        background: var(--BrightRed);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0px;
        position: relative;
        overflow: hidden;
        .heading{
            text-align: center;
            color: white;
            width: 40%;
            font-size: 1.5rem;
        }
        button{
            margin: 20px 0px;
            background: white;
            color: var(--BrightRed);
            font-weight: 700;
            box-shadow: none;
        }
    }
    .simplify::before{
        position: absolute;
        content:'';
        background: url('../images/bg-simplify-section-desktop.svg');
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
    }
    footer{
        background: var(--VeryDarkBlue);
        color: white;
        padding: 50px 30px;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        min-height: 35vh;
        position: relative;
        text-align: center;

        a,i{
            color: white;
            margin: 10px ;
        }
        a:hover,i:hover{
            color: var(--BrightRed);
        }
        &>div:nth-child(2),&>div:nth-child(3){
            display: flex;
            flex-direction: column;
        }
        &>div:nth-child(1){
            display: flex;
            flex-direction: column-reverse;
            .social{
                padding: 20px;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        &>div:nth-child(4){
            button{
                box-shadow: none;
                width: 20%;
                margin: 0px 10px ;
            }
            .copy{
                position: absolute;
                bottom: 0px;
                text-align: center;
                color: var(--DarkGrayishBlue);
                font-size: 1rem;
                left: 0px;
                transform: translate(50%,-50%);
            }
            input{
                height: 40px;
                border-radius: 25px;
                width: 70%;
                outline: none;
                color: red;
            }
            #error{
                color: red;
                font-size: 1rem;
            }
        }
    }
}