* {
  margin: 0px;
  padding: 0px;
}
main {
  background-image: url("./img/background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper {
  background: white;
  height: 50vh;
  min-width: 30%;
  position: relative;
  border: 2px solid red;
}
.kanye,
.kanye2,
.icons {
  position: absolute;
  top: 0px;
}
.icons {
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
  right: 0px;
}
.icon {
  margin: 25px;
  cursor: pointer;
}
.icon img {
  transform: scale(1.75);
}
.kanye,
.kanye2 {
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 100%, 0% 0%, 60% 0%, 60% 100%);
}
.kanye img,
.kanye2 img {
  width: 100%;
  height: 100%;
}
.kanye2 {
  transition: all 0.5s ease;

  z-index: 1;
  right: 0px;
  clip-path: polygon(100% 0%, 60% 0%, 60% 100%, 100% 100%);
}
.wrapper:hover > .kanye2 {
  perspective-origin: center;
  transform: rotateY(50deg) translateZ(20px);
  transform-style: preserve-3d;
  perspective: 1000px;
}
