@import "nav.css";
@import "profile.css";
@import "posts.css";
@import "right.css";
@import "footer.css";
* {
  margin: 0px;
  padding: 0px;
  font-family: roboto;
}
.main {
  background: whitesmoke;
}
main {
  width: 75%;
  margin: 0px auto;
  padding: 15px 0;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-gap: 10px;
  align-items: flex-start;
}
img {
  width: 50px;
}
