*{
    margin:0px;
    padding: 0px;
}

main{
    background: rgb(114, 109, 109);
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.wrapper{
    background: white;
    display: grid;
    grid-template-columns: 60% 40%;
    width: 80%;
    position: absolute;
    transform: translate(-50%,-50%); 
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black; 
    align-items: stretch;  
    max-height: 80%;
    overflow: hidden;
}
.member{
    flex: 2;
    padding: 50px;
    
}
.side{
    height: 100%;
    flex: 1;
}
.side img{
    width: 100%;
    object-fit: cover;
}
.brand img{
    width: 25px;
}
h1{
    margin: 15px 0;
}
.member p{
    color: gray;
}
.socials{
    padding: 35px 0;
}
.brand{
    margin: 15px 0;
    padding: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    border: 1px solid rgb(209, 208, 208);
    align-items: center;
    transition: all .5s ease;
}
 span{
    color: gray;
    text-transform: uppercase;
}

.brand:hover{
    box-shadow: 0px 0px 8px black;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px ;
}